---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    {% include header-nav.html %}

    <!-- Main -->
    <div id="main">
        <article class="thumb">
            <a href="folder1.html" class="folder">
                <img src="/images/folder1/thumbs/DSCN0069.jpg" alt="Пейзажи и природа." data-name="folder 1" />
            </a>
            <h2>Пейзаж-пейзаж</h2>
            <!--<p></p>-->
        </article>
        <article class="thumb">
            <a href="folder2.html" class="folder">
                <img src="/images/folder2/thumbs/image003.jpg" alt="Здания" data-name="folder 2" />
            </a>
            <h2>Здания</h2>
            <!--<p></p>-->
        </article>
        <article class="thumb">
            <a href="folder3.html" class="folder">
                <img src="/images/folder3/thumbs/image037.jpg" alt="Люди" data-name="folder 3" />
            </a>
            <h2>Люди</h2>
            <!--<p></p>-->
        </article>
    </div>

    {% include footer-panel.html %}

</div>
